<ul>
    <li>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </li>
    <li>
        <label for="category_name" class="required">Color</label>
        {{ form_errors(form.color) }}
        {{ form_widget(form.color, {'attr': {'id': 'colors'}}) }}

    </li>
</ul>
{{ form_rest(form) }}
<script>
$("#colors").spectrum({
    color: "#f00"
});
</script>